DATABASE_URL=postgresql://postgres:postgres@postgres:5432/robotica?schema=public
PORT=3339
CORS_ORIGIN=http://localhost:3033
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
MINIO_BUCKET=identidades
